* {
  box-sizing: border-box;
}

body {
  background-color: #F1EFEE;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.7;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 700;
}

.fab {
  font-size: 1.5em;
}

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:active {
  color: #000000;
  opacity: 0.8;
}

.button {
  border: none;
  font-family: inherit;
  background-color: #F1EFEE;
  color: #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 0px;
  border: 4px solid #000000;
  transition: 0.2s opacity;
  display: inline-block;
  margin-top: 50px;
  transition-duration: 0.5s;
  transition-property: opacity;
}

.button:hover,
.button:focus {
  cursor: pointer;
  /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8;
  /* Reduces the opactiy of the button to 80% */
  text-decoration: none;
  background-color: #000000;
  color: #F1EFEE;
}

/*Header
====================*/
header {
  margin-top: 5.5rem;
}

.logo {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.25em;
  font-family: Montserrat, sans-serif;
}

a.logo:hover {
  text-decoration: none;
}

nav {
  float: right;
}

nav ul {
  -webkit-margin-before: 5px !important;
  padding: 0;
  list-style-type: none;
}

nav li {
  float: left;
  margin-left: 25px;
  font-size: .8em;
}

.chevron-down {
    position:relative;
    top:80vh;
    transform:translateY(-100%);
    width:100%;
    text-align:center;
    display: inline-block;
}

.animation {
  position: absolute;
  top: 0;
  z-index:-1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(-200px,50px);}
}

.cloud-front {
  animation-duration: 5s;
  animation-name: cloud-move;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes scooter-move {
    from {transform: translate(0,50px);}
    to {transform: translate(400px,50px);}
}

.scooter {
  animation-duration: 10s;
  animation-name: scooter-move;
  animation-direction: normal;
  animation-timing-function: linear;
}
/*Containers and Columns
====================*/
#welcome {
  position: relative;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.intro {
  font-family: 'Lora', serif;
  position: absolute;
  top: 25vh;
  left: 0;
  right: 0;
}

.introcs {
  top:0;
  text-align: center;
}

.introcs img {
  max-width: 600px;
}

.img-container {
  max-height: 350px;
  overflow: hidden;
  background-image: linear-gradient(to left, #a1c4fd, #c2e9fb);
  width: 100%;
  text-align: center;
}

[class*="col-"] {
  float: left;
}

.col-lg-4 {
  width: 33.33%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-12 {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .introcs img {
    width: 100%;
    margin-top: 20%;
  }
}

/*Section Styling
====================*/
#welcome {
  height: 100vh;
  position: relative;
}

.section-heading {
  text-align: center;
  color: #000000;
  padding-top: 2%;
}

#work span {
  color: #999999;
  display: block;
}

#work {
  background-color: #FFFDFC;
  color: #000000;
  padding-bottom: 3rem;
}

#work h2 {
  text-align: center;
}

#work h3 {
  text-align: center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

#work h4 {
  text-align: center;
}

#work .img-container img {
  max-width: 55%;
}

.casestudy img {
  width: 60%;
}

.casestudy {
  text-align:center;
  background-color: #FFFFFF!important;
  display:inline-block;
}

.img-container {
  position: relative;
}

.img-container-small {
  position: relative;
  max-height: 350px;
  overflow: hidden;
}

.project-details {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
}

.project-background {
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: .5;
}

.project-description {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  color: #FFFFFF;
  padding: 20px;
}

.col-lg-12 {
  /* other rules... */
  vertical-align:top;
}

@media only screen and (max-width: 700px) {

  /* For mobile phones: */
  .casestudy img {
    width: 100%;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.4em;
  }

  header {
    margin-top: 2rem;
  }

  header .wrapper {
    text-align: center;
  }

  header ul {
    max-width: 200px;
    margin: 0 auto;
  }

  header nav {
    float: none;
    margin-top: 20px;
  }

  header nav ul li:first-child {
    margin: 0
  }

  #contact p {
    font-size: 1em!important;
  }

  #welcome {
    position: initial;
  }

  #work .img-container img {
    max-width: 100%;
  }
}

/*Footer
====================*/
footer {
  text-align: left;
}

footer ul {
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

footer ul li {
  float: left;
  padding: 10px;
}

footer ul li:first-child {
  padding-left: 0px;
}

.fa-behance {
  margin-top: 3px;
}

#contact h2 {
  text-align: center;
  color: black;
}

#contact p {
  font-size: 1.2em;
}

.contact-blurb {
  padding: 0;
}
