* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'akagi-pro', sans-serif;
  font-size: 20px;
  line-height: 1.7;
  color: #333333;
}

html, body {
  height: 100%;
}

h1 {
  font-family: 'ff-tisa-web-pro', serif;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

h2 {
  font-family: 'ff-tisa-web-pro', serif;
  color: #333333;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 30px;
}

h3 {
  font-family: 'ff-tisa-web-pro', serif;
  font-size: 20px;
  font-weight: 300;
}

h4 {
  font-family: 'ff-tisa-web-pro', serif;
  font-size: 20px;
  font-weight: 300;
}

p {
  font-family: 'akagi-pro', sans-serif;
  font-size: 20px;
  letter-spacing: -.025em;
  font-weight: 300;
}

.description {
  font-family: 'akagi-pro', sans-serif;
  font-size: 20px;
  letter-spacing: -.025em;
  font-weight: 300;
}

.description span {
  display: block;
  color: #767676;
}

.fab {
  font-size: 1.5em;
}

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover, a:focus {
  text-decoration: underline;
}

a:active {
  color: #000000;
  opacity: 0.8;
}

.button {
  border: none;
  font-family: inherit;
  background-color: #FFFFFF;
  color: #333333;
  text-decoration: none;
  padding: 10px;
  border-radius: 0px;
  border: 3px solid #333333;
  transition: 0.2s opacity;
  display: inline-block;
  margin-top: 50px;
  transition-duration: 0.5s;
  transition-property: opacity;
}

.button:hover,
.button:focus {
  cursor: pointer;
  /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8;
  /* Reduces the opactiy of the button to 80% */
  text-decoration: none;
  background-color: #000000;
  color: #F1EFEE;
}

.fadein {
 opacity:0;
 margin-bottom:-300px;
 max-width:100%;
}

/*Header
====================*/
header {
  padding-top: 20px;
}

.logo {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.25em;
  font-family: 'akagi-pro', sans-serif;
}

a.logo:hover {
  text-decoration: none;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

nav li {
  float: left;
  margin-left: 25px;
  font-size: .8em;
}


.animation {
  position: absolute;
  top: 0;
  z-index:-1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(-200px,50px);}
}

.cloud-front {
  animation-duration: 5s;
  animation-name: cloud-move;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes scooter-move {
    from {transform: translate(0,50px);}
    to {transform: translate(400px,50px);}
}

.scooter {
  animation-duration: 10s;
  animation-name: scooter-move;
  animation-direction: normal;
  animation-timing-function: linear;
}

.bounce {
    position:absolute;
    bottom: 0;
    transform:translateY(-100%);
    text-align: center;
    width:100%;
    display: block;
    -webkit-animation:bounce 1s infinite;
    -moz-animation:bounce 1s infinite;
    -o-animation:bounce 1s infinite;
    animation:bounce 1s infinite;
  }

  @-webkit-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }

   @-moz-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }

   @-o-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }

   @keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }

/*Containers and Columns
====================*/
#welcome {
  position: relative;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.intro {
  position: absolute;
  max-width: 800px;
  top: 35vh;
  left: 0;
  right: 0;
}

.introcs {
  top:10vh;
  text-align: center;
}

.img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hover:hover {
 -webkit-transform: scale(0.95);
 transform: scale(0.95);
 }

 .hover {
 -webkit-transition: 0.6s ease;
 transition: 0.6s ease;
 }

[class*="col-"] {
  float: left;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-12 {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .introcs img {
    width: 100%;
    margin-top: 20%;
  }
}

/*Section Styling
====================*/
#welcome {
  height: 95vh;
  position: relative;
}

.section-heading {
  text-align: center;
}

.project {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.casestudy {
  background-color: #FFFFFF!important;
}

.project-background {
  background-image: linear-gradient(to left, #a1c4fd, #c2e9fb);
}

.col-lg-12 {
  /* other rules... */
  vertical-align:top;
}

@media only screen and (max-width: 700px) {

  /* For mobile phones: */
  .casestudy img {
    width: 100%;
  }

  header nav ul li:first-child {
    margin: 0
  }


  #welcome {
    position: initial;
  }
}

#work .wrapper {
  max-width: 800px;
}
/*Case Studies
====================*/

.casestudy p {
  text-align: left;
  margin-bottom: 30px;
}

.casestudy .wrapper {
  max-width: 600px!important;
}

.introcs img {
  max-width: 600px;
}

/*Footer
====================*/
footer {
  text-align: center;
  clear: left;
  max-width: 600px;
  padding-top: 20px;
  margin: 0 auto;
  position: relative;
}

footer p {
  text-align: left;
  margin-top: 60px;
}

footer ul {
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

footer ul li {
  float: left;
  padding: 10px;
}

footer ul li:first-child {
  padding-left: 0px;
}

.fa-behance {
  margin-top: 3px;
}

footer img {
  margin: 0 auto;
  border-radius: 100%;
  display: flex;
  flex: 0 0 200px;
  height: 200px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 200px;
}

footer:before {
content: "";
position: absolute;
left: 30px;
right: 30px;
top: 0;
margin: auto;
max-width: 1290px;
height: 1px;
background: #eee;
}
