body {
  background-color: snow;
  max-width: 50%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.logo {
  font-size:2em;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

a {
  color: indianred;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  text-decoration: none; /* No underlining when hovering over a link */
  font-weight: 700;
}

a:focus {
  text-decoration: none; /* No underlining when hovering over a link */
  font-weight: 700;
}

a:visited {
  /* visited link */
  color: indianred;
  text-decoration: none;
  font-weight: 700;
}

a:active {
  /* selected link */
  color: indianred;
  text-decoration: none;
  font-weight: 700;
}

button {
  border: none;
  font-family: inherit;

  /* style button */
  background-color: indianred;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #03474c; /* width of the border, type, color */
  transition: 0.2s opacity;
}

button:hover,
button:focus {
  cursor: pointer; /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.8; /* Reduces the opactiy of the button to 80% */
}

.portfolioitemleft {
  max-width: 50%;
  display: inline-block;
  /*float:left;*/
}

.portfolioitemright {
  max-width: 50%;
  display: inline-block;
  /*float:right;*/
}
